    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
    #adit {
        text-align: center;
        max-width: 100vw;
        overflow: hidden;
    }
    
    #adit .bg-white {
        background-color: white;
    }
    
    #adit .bg-green {
        background-color: #f7d79cff;
    }
    
    #adit .f-14 {
        font-size: 14px;
    }
    
    #adit .c-main {
        color: #755927ff!important
    }
    
    #adit .c-white {
        color: white
    }
    
    #adit .c-grey {
        color: #444444
    }
    
    #adit .s-bold {
        font-weight: 900;
    }
    
    #adit .italic {
        font-style: italic;
    }
    
    #adit .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    
    #adit .larger {
        font-size: 72px;
    }
    
    #adit .f-mid {
        font-size: 48px!important;
    }
    
    #adit .f-hu {
        font-size: 14px!important;
    }
    
    #adit .show {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.1s linear;
    }
    
    #adit .roboto-slab {
        font-family: 'Roboto Slab', serif;
    }
    
    #adit .tinos {
        font-family: 'Tinos', serif;
    }
    
    #adit .lobster {
        font-family: 'Lobster', cursive;
    }
    
    #adit .sacramento {
        font-family: 'Sacramento', cursive;
    }
    
    #adit .garamond {
        font-family: 'EB Garamond', serif;
        font-style: italic;
    }
    
    #adit .poppins {
        font-family: 'Poppins', sans-serif;
    }
    
    #adit .path {
        bottom: -2px;
        left: 0;
        position: absolute;
        margin: 0;
        padding: 0;
        transition: 0.5s;
    }
    
    #adit #g3-headerance {
        color: rgba(255, 255, 255, 1);
        background-position: center;
        /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%), url('../assets/img/adit/head.jpg'); */
        background-repeat: no-repeat;
        background-size: none;
        height: 100vh;
        overflow: hidden;
        transition: 1s;
    }
    
    #g3-header h1 {
        font-size: 48px;
    }
    
    #g3-header h2 {
        font-size: 20px;
    }
    
    #g3-headerance .button {
        font-size: 20px;
        border: 2px solid white;
        margin: 30px;
        margin-top: 75px;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s
    }
    
    #g3-headerance .button:hover {
        background-color: white;
        color: black;
        font-weight: 600
    }
    
    #adit .item {
        width: 20%;
        font-size: 1rem;
    }
    
    #adit .item span {
        font-size: 0.8rem;
    }
    
    #adit .dot {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1rem;
    }
    
    #adit #top p,
    #adit #pasangan p {
        font-size: 18px;
    }
    
    #adit #save h1 {
        font-size: 48px;
    }
    
    #adit #save .button {
        color: white;
        background-color: #755927ff;
    }
    
    #adit .adit input {
        background-color: rgba(197, 255, 181, 1)!important
    }
    
    #adit #save .border-pink {
        border: 2px solid #755927ff;
        border-radius: 10px;
        margin-top: 20px;
        font-size: 12px;
    }
    
    #adit #form h1 {
        font-size: 32px;
    }
    
    #adit #form .button {
        background-color: #755927ff;
        padding: 5px;
        color: white;
        border: none
    }
    
    #adit #footer h1 {
        font-size: 18px;
    }
    
    #adit #footer h2 {
        font-size: 20px;
    }
    
    #adit #path .mx {
        margin-bottom: -2px;
    }
    
    #dandy h2 {
        font-size: 18px;
    }
    
    @media (min-width:756px) {
        #g3-header {
            padding-top: 5%;
        }
        #adit .item {
            font-size: 2rem;
        }
        #adit .item span {
            font-size: 1.5 rem;
        }
        #g3-header h1 {
            font-size: 56px;
        }
        #adit #form h1 {
            font-size: 56px;
            padding-top: 20px;
        }
        #adit iframe {
            height: 480px;
        }
    }