    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
    #arif {
        text-align: center;
        max-width: 100vw;
        overflow: hidden;
        background-image: url('../assets/img/arif/bggrey.webp');
    }
    
    #arif .bg-white {
        background-color: white;
    }
    
    #arif .bg-green {
        background-color: #171717;
    }
    
    #arif .f-14 {
        font-size: 14px;
    }
    
    #arif .c-main {
        color: #F5CD4F!important
    }
    
    #arif .c-white {
        color: white
    }
    
    #arif .c-grey {
        color: #171717
    }
    
    #arif .s-bold {
        font-weight: 900;
    }
    
    #arif .italic {
        font-style: italic;
    }
    
    #arif .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    
    #arif .larger {
        font-size: 72px;
    }
    
    #arif .f-mid {
        font-size: 48px!important;
    }
    
    #arif .f-hu {
        font-size: 14px!important;
    }
    
    #arif .show {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.1s linear;
    }
    
    #arif .roboto-slab {
        font-family: 'Roboto Slab', serif;
    }
    
    #arif .tinos {
        font-family: 'Tinos', serif;
    }
    
    #arif .lobster {
        font-family: 'Lobster', cursive;
    }
    
    #arif .sacramento {
        font-family: 'Sacramento', cursive;
    }
    
    #arif .garamond {
        font-family: 'EB Garamond', serif;
        font-style: italic;
    }
    
    #arif .poppins {
        font-family: 'Poppins', sans-serif;
    }
    
    #arif .path {
        bottom: -2px;
        left: 0;
        position: absolute;
        margin: 0;
        padding: 0;
        transition: 0.5s;
    }
    
    #arif #g3-header {
        color: rgba(255, 255, 255, 1);
        background-position: center;
        /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%), url('../assets/img/arif/head.jpg'); */
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        transition: 1s;
    }
    
    #g3-header h1 {
        font-size: 48px;
    }
    
    #g3-header h2 {
        font-size: 20px;
    }
    
    #g3-header .button {
        font-size: 20px;
        border: 2px solid white;
        margin: 30px;
        margin-top: 75px;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s
    }
    
    #g3-header .button:hover {
        background-color: white;
        color: black;
        font-weight: 600
    }
    
    #arif .item {
        width: 20%;
        font-size: 1rem;
    }
    
    #arif .item span {
        font-size: 0.8rem;
    }
    
    #arif .dot {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1rem;
    }
    
    #arif #top p,
    #arif #pasangan p {
        font-size: 18px;
    }
    
    #arif #save h1 {
        font-size: 48px;
    }
    
    #arif #save .button {
        color: white;
        background-color: #171717;
    }
    
    #arif .arif input {
        background-color: rgba(197, 255, 181, 1)!important
    }
    
    #arif #save .border-pink {
        border: 2px solid #171717;
        border-radius: 10px;
        margin-top: 20px;
        font-size: 12px;
    }
    
    #arif #form h1 {
        font-size: 32px;
    }
    
    #arif #form .button {
        background-color: #171717;
        padding: 5px;
        color: white;
        border: none
    }
    
    #arif #footer h1 {
        font-size: 18px;
    }
    
    #arif #footer h2 {
        font-size: 20px;
    }
    
    #arif #path .mx,
    #arif .mx {
        margin-bottom: -2px;
        margin-top: -2px;
    }
    
    #pasangan h1 {
        font-size: 1.75rem;
    }
    
    #arif .ortu p {
        font-size: 1.3rem!important;
    }
    
    @media (min-width:756px) {
        #g3-header {
            padding-top: 5%;
        }
        #arif .item {
            font-size: 2rem;
        }
        #arif .item span {
            font-size: 1.5 rem;
        }
        #g3-header h1 {
            font-size: 56px;
        }
        #arif #form h1 {
            font-size: 56px;
            padding-top: 20px;
        }
        #arif iframe {
            height: 480px;
        }
    }