@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.poppins {
    font-family: 'Poppins', sans-serif;
    ;
}

.view {
    background-size: cover;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}

.navbar {
    z-index: 1;
}

.item {
    width: 20%;
    font-size: 1rem;
}

.item span {
    font-size: 0.8rem;
}

.dot {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
}

.f-small {
    font-size: 18px;
}

.f-larger {
    font-size: 18px;
}

.jumbotrongold4 {
    color: rgba(255, 255, 255, 1);
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../assets/img/gold4/head.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.jumbotron p {
    font-size: 40px;
}

.modal {
    position: absolute;
    color: '#ffffff';
    z-index: 2;
}

#header,
.view {
    background-color: #E1E7F6!important;
    font-family: 'TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif'!important;
    font-size: 2rem;
    scroll-behavior: smooth;
}

#top {
    background-color: #E1E7F6;
}

#header span {
    font-size: 40px;
    line-height: 1;
}

.gborder {
    border-width: 4px!important;
    border-color: #7f8aa9ff!important;
    border-style: solid;
}

.wedding {
    color: #8b8b8bff!important
}

.wedding span {
    display: inline!important;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

.gambarutama img {
    width: auto;
    height: 40vh;
    border-radius: 0.4rem;
}

.title {
    color: white;
    font-size: 1.2rem
}

#aftermodal .tombol {
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 10px;
}

#aftermodal p {
    font-size: 20px;
    margin-top: 20vh
}

#slider h1 {
    color: white;
    font-size: 40px;
}

#footer p {
    font-size: 24px;
}

#gold4 #form .button {
    background-color: rgb(127, 138, 169);
    padding: 5px;
    color: white;
    border: none
}

.quotes {
    font-size: 16px;
}

.savethedate {
    font-size: 2rem!important;
}

@media (max-width:757px) {
    body {
        font-size: 0.5rem!important;
    }
    .wedding span {
        display: block!important;
        font-size: 1rem
    }
    .gambarutama img {
        width: 80vw;
        height: auto;
        margin-top: 20px;
    }
    .cincin {
        width: 25vw;
    }
    .send {
        font-size: 1.2rem;
    }
}

@media (min-width:756px) {
    .fotopasangan {
        width: 20vw!important;
    }
    .title {
        font-size: 2rem;
    }
    .savethedate {
        font-size: 2rem!important;
    }
    .video {
        height: 80vh!important
    }
    .jumbotron {
        padding: 2rem 1rem !important;
    }
    .gb {
        margin-top: -20vh
    }
    .gambarutama {
        margin-top: 5vh!important;
    }
    .name {
        font-size: 10px!important;
    }
    .cincin {
        width: 10vw
    }
}