    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    #gold3 {
        text-align: center;
    }
    
    #gold3 .bg-white {
        background-color: white;
    }
    
    #gold3 .bg-pink {
        background-color: #e5b9d0ff;
    }
    
    #gold3 .c-main {
        color: #920a4aff
    }
    
    #gold3 .c-white {
        color: white
    }
    
    #gold3 .c-grey {
        color: #444444
    }
    
    #gold3 .s-bold {
        font-weight: 900;
    }
    
    #gold3 .italic {
        font-style: italic;
    }
    
    #gold3 .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    
    #gold3 .larger {
        font-size: 72px;
    }
    
    #gold3 .f-mid {
        font-size: 48px!important;
    }
    
    #gold3 .show {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.1s linear;
    }
    
    #gold3 .roboto-slab {
        font-family: 'Roboto Slab', serif;
    }
    
    #gold3 .sacramento {
        font-family: 'Sacramento', cursive;
    }
    
    #gold3 .poppins {
        font-family: 'Poppins', sans-serif;
    }
    
    #gold3 .path {
        bottom: -2px;
        left: 0;
        position: absolute;
        margin: 0;
        padding: 0;
        transition: 0.5s;
    }
    
    #g3-header {
        color: rgba(255, 255, 255, 1);
        background-position: center;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%), url('');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 20%;
    }
    
    #g3-header h1 {
        font-size: 48px;
    }
    
    #g3-header h2 {
        font-size: 20px;
    }
    
    #g3-header .button {
        font-size: 20px;
        border: 2px solid white;
        margin: 30px;
        margin-top: 75px;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s
    }
    
    #g3-header .button:hover {
        background-color: white;
        color: black;
        font-weight: 600
    }
    
    #gold3 .item {
        width: 20%;
        color: white;
        font-size: 1rem;
    }
    
    #gold3 .item span {
        font-size: 0.8rem;
    }
    
    #gold3 .dot {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1rem;
        color: white
    }
    
    #gold3 #top p {
        font-size: 18px;
    }
    
    #gold3 #save h1 {
        font-size: 32px;
    }
    
    #gold3 #save .button {
        color: white;
        background-color: #920a4aff;
    }
    
    #gold3 #save .border-pink {
        border: 2px solid #920a4aff;
        border-radius: 10px;
        margin-top: 20px;
        font-size: 12px;
    }
    
    #gold3 #form h1 {
        font-size: 32px;
    }
    
    #gold3 #form .button {
        background-color: #920a4aff;
        padding: 5px;
        color: white;
        border: none
    }
    
    #gold3 #footer h1 {
        font-size: 18px;
    }
    
    #gold3 #footer h2 {
        font-size: 20px;
    }
    
    #gold3 #path .mx {
        margin-bottom: -2px;
    }
    
    @media (min-width:756px) {
        #g3-header {
            padding-top: 5%;
        }
        #gold3 .item {
            font-size: 2rem;
        }
        #gold3 .item span {
            font-size: 1.5 rem;
        }
        #g3-header h1 {
            font-size: 56px;
        }
        #gold3 iframe {
            height: 480px;
        }
    }