@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
.navbar {
    z-index: 1;
}

.jumbotron {
    color: rgba(255, 255, 255, 1);
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url('../assets/img/gold1/img.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.jumbotron p {
    font-size: 40px;
}

.modal {
    position: absolute;
    color: '#ffffff';
    z-index: 2;
}

html,
#gold1,
header,
.title {
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(112, 131, 103);
    scroll-behavior: smooth;
    max-width: 100vw;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.1s linear;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#sectiongold11 button {
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    background-color: transparent;
    transition-duration: 0.4s;
    margin-top: 100px;
}

#sectiongold11 button:hover {
    background-color: #fff;
    color: transparent
}

#sectiongold11 h1 {
    font-size: 1rem;
    margin-bottom: 3vh;
}

#sectiongold11 .path,
#sectiongold14 .path {
    position: absolute;
    width: 100vw;
    bottom: -2px;
    left: 0;
}

#sectiongold11 h2 {
    font-size: 0.8rem;
    margin-bottom: 5vh;
}

#sectiongold11 .position {
    margin-top: 7vh;
}

#sectiongold11 .nama {
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    line-height: 1;
}

#sectiongold11 .button {
    margin-top: 100px;
}

#sectiongold14 {
    position: relative;
    max-width: 100vw;
}

#sectiongold15 {
    background-color: white;
    max-width: 100vw;
    padding: 50px
}

#sectiongold15 .opening {
    color: black;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 50px;
}

#sectiongold15 .kotak {
    background-color: #d4d9d2;
    border-radius: 0.5rem;
    padding: 20px;
}

#sectiongold15 h1,
#sectiongold16 h1 {
    font-family: 'Tinos', serif;
    color: #455b51ff;
    line-height: 2;
    font-size: 1rem;
}

#sectiongold15 img {
    border-radius: 20px;
}

#sectiongold15 p {
    font-style: italic;
    font-size: 0.75rem;
    font-family: 'Tinos', serif;
}

#sectiongold16 .kotak {
    background-color: #9aaaa3ff;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 20px
}

#sectiongold16 h2 {
    font-family: 'Tinos', serif;
    color: white
}

#sectiongold16 p {
    font-family: 'Tinos', serif;
    color: white
}

#sectiongold17 h1 {
    font-family: 'Tinos', serif;
    color: #455b51ff;
    line-height: 2;
    font-size: 1.5rem;
}

#sectiongold17 .katok {
    background-color: white !important;
    border-radius: 10px;
    padding: 20px;
    margin: 20px
}

#sectiongold17 .dot {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
}

#sectiongold17 p {
    font-family: 'Tinos', serif;
    color: #455b51ff;
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0
}

#sectiongold17 .bold {
    font-weight: 600;
}

#sectiongold17 .italic {
    font-style: italic;
}

#sectiongold17 .red {
    color: white;
}

#sectiongold17 .button {
    background-color: #d09340;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Tinos', serif;
    color: white;
    text-align: center
}

#sectiongold17 .smaller {
    font-size: 0.75rem
}

#sectiongold17 .kotak {
    background-color: #455b51ff;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px
}

#sectiongold17 .item {
    width: 20%;
    color: white
}

#sectiongold17 .item span {
    font-size: 0.7rem;
}

#sectiongold18 {
    position: relative;
    max-width: 100vw;
}

#sectiongold18 .kotak {
    background-color: white;
    border-radius: 10px;
}

#sectiongold18 h1,
#sectiongold18 label {
    font-size: 1.5rem;
    color: #455b51ff;
    padding: 10px;
    font-style: italic;
    font-family: 'Tinos', serif;
}

#sectiongold18 label {
    font-size: 1rem;
    font-style: normal;
}

input {
    border: none;
    background-color: #dcdcdcff;
    border-radius: 5px;
    font-family: 'Tinos', serif!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 5px
}

input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=radio]:not(old)+label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid #455b51ff;
    border-radius: 0.25em;
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}

input[type=radio]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type=radio]:not(old):checked+label>span>span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid #455b51ff;
    border-radius: 0.125em;
    background: #455b51ff;
    background-image: #455b51ff;
}

.bigger {
    padding-top: 50px;
    padding-bottom: 50px
}

#sectiongold18 button {
    border: none;
    border-radius: 5px;
    background-color: #455b51ff;
    color: white;
    font-family: 'Tinos', serif!important;
    margin-bottom: 10px;
    margin-top: 10px
}

#sectiongold18 h2 {
    padding: 50px;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

#sectiongold19 {
    font-family: 'Tinos', serif!important;
    color: #455b51ff;
    padding: 20px;
    background-color: white;
    max-width: 100vw;
}

#sectiongold19 h1 {
    font-size: 1.5rem;
    margin-top: 10px
}

#sectiongold19 h2 {
    font-style: italic;
}

#sectiongold110 {
    max-width: 100vw;
    padding: 0;
    margin: 0px;
}

#sectiongold110 img {
    margin-bottom: -2px;
}

@media (max-width:757px) {}

@media (min-width:756px) {
    #sectiongold11 .nama {
        font-size: 3.5rem!important;
    }
    #sectiongold11 h1 {
        font-size: 1.5rem!important;
    }
    #sectiongold11 button {
        margin-top: 50px;
    }
    #sectiongold12 .title {
        font-size: 4.5rem;
    }
    #sectiongold12 h1 {
        font-size: 1.75rem!important;
    }
    #sectiongold12 p {
        font-size: 1.5rem!important;
    }
    #sectiongold13 iframe {
        min-height: 480px!important;
    }
    #sectiongold17 .item {
        font-size: 1.75rem!important;
    }
}