#guest {
    max-width: 100vw;
    background-color: #F4F5F9;
    min-height: 100vh!important;
}

#guest h1 {
    border-bottom: 1px solid rgb(219, 219, 219);
    color: rgb(100, 116, 175)!important;
}

#guest .bg-main {
    background-color: rgb(100, 116, 175)!important;
    color: white
}

#guest .hasil {
    font-size: 14px;
}