@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') .navbar {
    z-index: 1;
}

#home .jumbotron {
    color: rgba(255, 255, 255, 1);
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../../src/assets/img/homepage/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#home .jumbotron p {
    font-size: 18px;
}

.modal {
    position: absolute;
    color: '#ffffff';
    z-index: 2;
}

#home {
    color: white;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    background-color: #000000;
    scroll-behavior: smooth;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#section1 .button {
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px;
    background-color: #F2BC13;
    border-radius: 29px;
    transition-duration: 0.4s;
    margin-top: 0px!important;
}

#section1 .button:hover {
    background-color: #fff;
    color: transparent
}

#section1 h1 {
    font-size: 34px!important;
    margin-bottom: 5vh;
    font-weight: 700;
    font-style: bold;
    line-height: 1.5em;
}

#section1 h2 {
    font-size: 28px!important;
    margin-bottom: 5vh;
    font-weight: 700;
}

#section1 .position {
    margin-top: 7.5vh;
}

#section1 p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

#section2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-style: normal;
}

#section2 h1 {
    font-size: 24px!important;
    font-weight: 600;
    margin-bottom: 40px;
}

#section2 p {
    font-size: 16px!important;
    font-weight: 400!important;
}

#section2 .main {
    padding-top: 4vh!important;
    padding-bottom: 4vh!important;
}

#section2 .title {
    font-family: 'Tinos', serif;
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 3vh;
}

#section3 {
    padding: 40px
}

#section3 p {
    margin-top: 50px;
    text-align: center
}

#section4 {
    padding-left: 50px;
    padding-right: 50px;
}

#section4 h1 {
    font-size: 30px!important;
    font-weight: 800;
    padding-top: 60px;
    padding-bottom: 40px;
}

#section4 .kotak {
    background-color: white;
    border-radius: 0.5rem;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 20px
}

#section4 p {
    font-size: 18px;
    color: black;
    margin-bottom: 10px!important;
    padding: 25px;
    text-align: center;
}

#section4 .button {
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 10px;
    background-color: #F2BC13;
    border-radius: 29px;
    transition-duration: 0.4s;
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}

#section5 {
    background-color: #F2BC13;
    padding-top: 40px;
    padding: 60px
}

#section5 img {
    margin-bottom: 50px;
}

#section5 p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

#section5 .button {
    background-color: white;
    border-radius: 40px;
    padding: 10px;
    color: rgb(46, 57, 79);
    font-size: 22px;
    margin-top: 50px
}

#catalog {
    padding: 30px
}

#catalog h1 {
    font-size: 34px!important;
    margin-bottom: 5vh;
    font-weight: 700;
    font-style: bold;
    line-height: 1.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid white
}

#catalog h1 span {
    color: #F2BC13;
}

#catalog .kotak {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

#catalog .button {
    color: white;
    background-color: #F2BC13;
    padding: 5px;
    font-size: 13px;
    border-radius: 15px;
    text-align: center;
    margin: 20px;
    transition-duration: 0.4s;
}

#catalog .button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #F2BC13;
    color: #F2BC13
}

#catalog .button.order {
    background-color: transparent;
    border: 2px solid white
}

#catalog .button.order:hover {
    background-color: white;
    color: black;
}

@media (max-width:757px) {}

@media (min-width:756px) {
    #section1 .nama {
        font-size: 5rem!important;
    }
    #section1 h1 {
        font-size: 48px!important;
    }
    #section1 button {
        margin-top: 50px;
    }
    #section2 .title {
        font-size: 4.5rem;
    }
    #section2 h1 {
        font-size: 30px!important;
        font-weight: 700;
        text-align: left;
    }
    #section3 iframe {
        min-height: 480px!important;
    }
    #section4 .kotak {
        width: 20%!important
    }
    #section5 {
        padding: 100px
    }
    #section5 p {
        font-size: 28px;
        font-weight: 900;
        text-align: left;
    }
    #catalog {
        padding: 50px
    }
    #catalog h1 {
        font-size: 48px!important;
    }
    #catalog .button {
        font-size: 18px
    }
}